Source: ros-melodic-genmsg
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python-setuptools, ros-melodic-catkin (>= 0.5.74)
Homepage: http://wiki.ros.org/genmsg
Standards-Version: 3.9.2

Package: ros-melodic-genmsg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-empy, ros-melodic-catkin
Description: Standalone Python library for generating ROS message and service data structures for various languages.
